[submodule "Development/Libraries/VrLib"]
	path = Development/Libraries/VrLib
	url = https://github.com/Borf/VrLib.git
[submodule "Development/Applications/VrDemos"]
	path = Development/Applications/VrDemos
	url = https://github.com/Borf/VrDemos.git
