[submodule "Development/Applications/VrDemos"]
	path = Development/Applications/VrDemos
	url = https://github.com/Borf/VrDemos.git
[submodule "Development/Applications/crimescene"]
	path = Development/Applications/crimescene
	url = https://bitbucket.org/jtalboom/crimescene
[submodule "Development/Libraries"]
	path = Development/Libraries
	url = https://github.com/Borf/VrLibraries.git
