Development/Debug/
Development/Release/
*.opensdf
*.sdf
Runtime/data
Runtime/*.exe
!Runtime/*.dll
Development/.vs/config/applicationhost.config
Development/VrEnvironment.VC.opendb
Development/packages/
Development/.vs/VrEnvironment/v14/.suo
*.lastbuildstate
*.tlog
Development/Applications/Tutorials/AnimatedModel/Release/
Thumbs.db
Development/Applications/HeightMapDemo/HeightMapDemo.cpp
Development/Applications/NetworkEngine/NetworkTunnelControl/bin/
Development/Applications/NetworkEngine/NetworkTunnelControl/obj/
Development/Applications/NetworkEngine/NetworkTunnelControl/packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
