[submodule "Development/Applications/VrDemos"]
	path = Development/Applications/VrDemos
	url = https://github.com/Borf/VrDemos.git
[submodule "Development/Applications/crimescene"]
	path = Development/Applications/crimescene
	url = https://bitbucket.org/jtalboom/crimescene
[submodule "Development/Libraries"]
	path = Development/Libraries
	url = https://github.com/Borf/VrLibraries.git
[submodule "Development/Applications/virtueelpd"]
	path = Development/Applications/virtueelpd
	url=https://bitbucket.org/jtalboom/virtueelpd.git
[submodule "Development/Services/VrServer"]
	path = Development/Services/VrServer
	url = https://github.com/Borf/VrServer.git
[submodule "Development/Applications/virtueelpdedit"]
	path = Development/Applications/virtueelpdedit
	url = https://bitbucket.org/jtalboom/virtueelpdedit.git
[submodule "Development/Applications/cellstroll"]
	path = Development/Applications/cellstroll
	url = https://bitbucket.org/jtalboom/cellstroll.git
[submodule "Development/Applications/VirtualCell"]
	path = Development/Applications/VirtualCell
	url = https://bitbucket.org/ti_vr/virtualcell.git
[submodule "Development/Applications/CaveQuake"]
	path = Development/Applications/CaveQuake
	url = https://github.com/Borf/CaveQuake.git
[submodule "Development/Applications/CaveCraft"]
	path = Development/Applications/CaveCraft
	url = https://github.com/Borf/CaveCraft.git
[submodule "Development/Applications/CaveStarter.net"]
	path = Development/Applications/CaveStarter.net
	url = https://github.com/Borf/CaveStarter.net.git
[submodule "Development/Applications/CaveStarterControl.net"]
	path = Development/Applications/CaveStarterControl.net
	url = https://github.com/Borf/CaveStarterControl.net.git
[submodule "Development/Applications/3dengine"]
	path = Development/Applications/3dengine
	url = https://bitbucket.org/ti_vr/3dengine.git
[submodule "Development/Applications/chemicalstorage"]
	path = Development/Applications/chemicalstorage
	url = https://bitbucket.org/ti_vr/chemicalstorage.git
[submodule "Development/Applications/TiEnEdit"]
	path = Development/Applications/TiEnEdit
	url = https://github.com/Borf/TiEnEdit.git
